*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
    width: 99%;
    height: 80vh;
    background-image: url("images/banner/banner3.png");
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
   display: flex;
   justify-content: end;
   align-items: center;
  margin-bottom: 6rem;
}
.header-content{
  padding-bottom: 10rem;
padding-right: 10rem;
padding-top: 10rem;
    
}
.header-title{
    color: white;
    font-size: 3rem;
    padding-bottom: 1.5rem;
    text-align: end;
}
/* .header-title span{
    display: block;
    text-align: end;
} */
.header-discription{
    color: white;
    width: 19rem;
    padding-bottom: 1rem;
    text-align: end;
}
.btn-primary{
    
  color: rgb(48, 48, 135);
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
}
.btn-end{
    text-align: end;
}

.failure-section{
    width: 99%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

}
.image img{
    width: 49%;
    height: auto;
    padding-left: 5rem;
}
.failure-content{
    width: 40%;
   margin-left: -8rem;
   text-align: start;
   
}
.failure-title{
    font-size: 2rem;
    padding-bottom: 1rem;
}
h6{
    padding-bottom: .8rem;
}
.failure-discription{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.701);
    line-height: 1.5rem;
}
.check{
    width: 10px;
    height: 10px;
}
.next-plan{
    margin-top: 5rem;
    width: 99%;
    height: 40vh;
}
.plan{
    text-align: center;
    padding: 20px;
    font-size: 2rem;
}
.learning-plan{
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 2.5rem;
    padding: 10px;
    text-align: center;
}
.process-plan p{
    color: gray;
}
.process-plan img{
    width: 4.2rem;
    height: auto;
}
.progress{
    width: 99%;
    height: 80vh;
    background-color: rgba(250, 235, 215, 0.234);
    padding-left: 10rem;
    padding-right:10rem;
}
.progress p{
    font-size: 1.8rem;
    padding: 1rem 0;
}
.progress-heading{
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    padding-top: 2rem;
}
.container {
  width: 100%;
  background-color: #ddd;
  border-radius: 10px;
  border: 1px solid rgba(218, 165, 32, 0.37);
}
.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  
}
.web-develoopment{
    width: 30%;
    background-color: rgba(0, 0, 255, 0.623);
    border-radius: 10px;
}
.javascript{
    width: 40%;
    background-color: blueviolet;
    border-radius: 10px;
}
.smoking-habit{
    width: 95%;
    background-color: rgb(234, 125, 16);
    border-radius: 10px;

}
.ecommerce{
    width: 10%;
    background-color: rgba(237, 9, 9, 0.783);
    border-radius: 10px;
}

.mindset{
    margin: 1rem 20rem;
    width: auto;
    height: 30vh;
    background-image: url("images/gradient1.png"),url("images/watch.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.positive-mindset{
    color: white;
    padding: 1.5rem 0 0 1.5rem;
    font-size: 1.5rem;
}
.mindset-btn{
    margin: 1.5rem 0 0 1.5rem;
    padding: 1rem ;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
}
footer{
    height: 40vh;
    width: auto;
    color:white;
    background-color: black;
}
.footer-divide{
    display: flex;
    justify-items: center;
    justify-content: center;
    margin-top: 3rem;
    gap: 5rem;
    padding: 1.5rem;
}
.future-plan {
    width: 40%;

}
.future-plan h2{
    padding-top: .8rem;
    padding-bottom: 1rem;

}
.future-plan p{
    
    line-height: 1.3rem;
    color: rgba(226, 214, 214, 0.831);
}

.social-images{
    margin-top: 1rem;
    padding: .2rem;
    height: 1.5rem;
}
.subscribe {
    width: 30%;
}
.subscribe h3{
    padding: 1rem 0;
}
.subscribe input{
    padding: 1rem;
    border: 1px solid white;
    border-radius: .3rem;
    color: white;
    background-color: black;
}
.btn{
    margin-top: .5rem;
    background-color: blue !important;
}